# Copier ce fichier vers .env puis renseigner vos propres valeurs
# Ne jamais committer le fichier .env final sur GitHub

DB_HOST=localhost
DB_PORT=5432
DB_NAME=gestion_des_incidents_informatiques
DB_USER=app_login
DB_PASSWORD=change_moi

FLASK_SECRET_KEY=change_moi_par_une_valeur_aleatoire_longue
